#app {
  margin: auto;
  width: 50%;
  padding: 10px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}
.space-list-items {
  margin-bottom: 7px;
}
.avatar {
  width: 150px;
  border-radius: 50%;
}
